* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0;
}

.container div {
  padding: 0;
}
.container .screen {
  border: 1px solid grey;
  width: 120px;
  height: 30px;
  margin-bottom: 1px;
  padding: 4px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-radius: 2px;
}
.container .screen p {
  font-size: 18px;
  
}
.container div button {
  width: 30px;
  height: 30px;
  font-size: 14px;
}
.container div button[value="0"] {
  width: 60px;
}
